/* body {
  background-color: #282c00;
  color: white;
  padding: 50px;
  font-family: Arial;
  text-align: center;
} */




/* body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
} */


body {
  background-color: black;
  color: white;

  padding: 50px;
  /* padding: 51px; */

  font-family: Arial;
  /* font-family: Helvetica; */

  font-weight: 300;

  line-height: 1.6em;

  text-align: center;
}

a {
  color: red;
  font-family: Arial;
}
